.Product{
    width:33%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 5px auto;
    box-sizing: border-box;
    margin-right: 4px;
    float: right;
    height: 190px;
}

.Product:hover{
    box-shadow: 8px 7px 17px grey;
}

.Button{
    float:right;
    color: gray;
    width:80px;
    text-align: center;
    height:20px;
    border-radius: 1.8px;
}

.Button:hover{
    float: right;
    color: lightgray;
    cursor: pointer;
}